body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #000;
  user-select: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

/* animating bird */
.bird {
  background-image: url('./asset/sprites/bird-sprites.png');
  background-size: auto 100%;
  background-position-y: center;
  animation: flying 0.15s steps(3) infinite;
}

@keyframes flying {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 134px;
  }
}

/* animating crossline in ground comp */
.crossline {
  animation: animatedCrossline 0.4s linear infinite;
}

@keyframes animatedCrossline {
  0% {
    background-image: repeating-linear-gradient(-45deg, #a3de5a 0 5px, #69a817 5px 10px);
  }
  10% {
    background-image: repeating-linear-gradient(-45deg, #69a817 0 5px, #a3de5a 5px 10px);
  }
  20% {
    background-image: repeating-linear-gradient(-45deg, #a3de5a 0 5px, #69a817 5px 10px);
  }
  30% {
    background-image: repeating-linear-gradient(-45deg, #69a817 0 5px, #a3de5a 5px 10px);
  }
  40% {
    background-image: repeating-linear-gradient(-45deg, #a3de5a 0 5px, #69a817 5px 10px);
  }
  50% {
    background-image: repeating-linear-gradient(-45deg, #69a817 0 5px, #a3de5a 5px 10px);
  }
  60% {
    background-image: repeating-linear-gradient(-45deg, #a3de5a 0 5px, #69a817 5px 10px);
  }
  70% {
    background-image: repeating-linear-gradient(-45deg, #69a817 0 5px, #a3de5a 5px 10px);
  }
  80% {
    background-image: repeating-linear-gradient(-45deg, #a3de5a 0 5px, #69a817 5px 10px);
  }
  90% {
    background-image: repeating-linear-gradient(-45deg, #69a817 0 5px, #a3de5a 5px 10px);
  }
  100% {
    background-image: repeating-linear-gradient(-45deg, #a3de5a 0 5px, #69a817 5px 10px);
  }
}
